<div id="carouselJogos" class="carousel slide marginTop1" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselJogos" data-slide-to="0" class="active"></li>
        <li data-target="#carouselJogos" data-slide-to="1"></li>
        <li data-target="#carouselJogos" data-slide-to="2"></li>
        <li data-target="#carouselJogos" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/carousel01.jpeg" class="d-block w-100" alt="Jogo">
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel02.jpg" class="d-block w-100" alt="Jogo">
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel03.jpg" class="d-block w-100" alt="Jogo">
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel04.jpg" class="d-block w-100" alt="Jogo">
        </div>
    </div>
    <a class="left carousel-control" href="#carouselJogos" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carouselJogos" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
  