<br/>
<br/>
<br/>
<img src="~/images/adminarea.jpg" alt="Área de Administração"/>
<div class="container">
    <div class="jumbotron">
        <p>
            Está é a área de administração
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>